# Scalrizr distutils distribution files
#

# additional files not known by setup.py
include INSTALL.txt
include src/scalarizr/version

# configuration
recursive-include etc *
recursive-include bdist *
recursive-include bin *
recursive-include scripts *
recursive-include share *
recursive-include packaging *
recursive-include tests *

# omit revision control, python bytecode
global-exclude  *.pyc *.pyo */.svn/* 

