# Scalrizr distutils distribution files
#

# additional files not known by setup.py
include INSTALL.txt

# configuration
recursive-include etc *
recursive-include bdist *
recursive-include bin *
recursive-include scripts *
recursive-include share *
recursive-include packaging *
recursive-include sphinx *
recursive-include tests *
recursive-include src/scalarizr *

# omit revision control, python bytecode
global-exclude  *.pyc *.pyo */.svn/* 

