#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2003 Colin Walters <walters@verbum.org>
# Copyright © 2003 Jordi Mallach <jordi@debian.org>

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_DESTDIR=debian/scalarizr-base

binary-post-install/scalarizr-base::

	find $(DEB_DESTDIR)/etc/scalr/public.d -type f -maxdepth 1 -print | xargs rm -f
	find $(DEB_DESTDIR)/etc/scalr/private.d -type f -maxdepth 1 -print | xargs rm -f
	dh_installinit --name=scalarizr
	dh_installinit --name=scalr-upd-client
